---
title: Rotating the Services TLS CA and Its Leaf Certificates
owner: Ops Manager
---

<p class="note"><strong>Note</strong>: The preferred method for rotating the Services TLS CA and its leaf certificates in Ops Manager v2.9 and later is to use CredHub Maestro. If all of the service tiles in your deployment are compatible with Maestro</a>, then use the procedure documented in <a href="advanced-certificate-rotation.html#services-rotation">Advanced Certificate Rotation with CredHub Maestro</a> instead of this procedure. To determine whether your tiles are compatible with Maestro, see <a href="maestro-tile-compatibility.html">CredHub Maestro Tile Compatibility</a>.</p>

<div class="quick-links">
<ul>
  <li>
    <a href="#services-tls-ca-overview">Services TLS CA Overview</a>
  </li>
  <li>
    <a href="#prerequisites">Prerequisites for Rotating the Services TLS CA</a>
  </li>
  <li>
    <a href="#tls">Procedure for Rotating the Services TLS CA</a>
  </li>
  <ul>
    <li><a href="#checkexpdate">Check Certificate Expiration Dates</a></li>
    <li><a href="#obtainorgenerate">Obtain or Generate a New Services TLS CA Certificate</a></li>
    <li><a href="#addnewandold">Add Certificates to <%= vars.ops_manager %> and <%= vars.app_runtime_abbr %></a>
    <li><a href="#applychanges1">Apply Changes for the First Time</a>
    </li>
    <li><a href="#setnew">Set New Services TLS CA Certificate</a>
    </li>
    <li><a href="#applychanges2">Apply Changes for the Second Time</a></li>
    <li><a href="#remove">Remove the Old Services TLS CA Certificate</a></li>
    <li><a href="#applychanges3">Apply Changes for the Third Time</a>
    </li>
  </ul>
</ul>
</div>

<%= partial "/pcf/certs/rotating_services_tls_ca.html.md.erb" %>
