---
title: Linux Stemcell Hardening
owner: Security CONSULT LEGAL BEFORE MAKING ANY CHANGES TO THIS DOC
---

<p class="note"><strong>Note:</strong> This document applies to stemcell v3263 and later.</p>

Customers and prospects often ask for details on stemcell hardening, i.e., the process by which
we secure <%= vars.platform_name %> by reducing its vulnerability surface from outside access.
This document provides responses to some commonly-asked questions regarding the security configuration enhancements
and hardening tests that Pivotal applies to the Cloud Foundry ("CF") stemcell.
This information will be helpful to customer accreditation teams who are responsible for
running configuration scans of a Cloud Foundry deployment, and also to auditors who need a
documentation artifact to feed into the customers’ existing security assessment processes.

1. **WHAT IS A STEMCELL?** A stemcell is a versioned Operating System ("OS") image wrapped
with IaaS specific packaging. A typical stemcell contains a bare minimum OS skeleton with a
few common utilities pre-installed, a BOSH Agent, and a few configuration files to securely
configure the OS by default. For example: with vSphere, the official stemcell for Ubuntu
Trusty is an approximately 500MB VMDK file. With AWS, official stemcells are published as MIs that can be used in an AWS account. Stemcells do not contain any specific information about any software that will be installed once that stemcell becomes a specialized machine in the cluster; nor do they contain any sensitive information which would make them unable to be shared with other BOSH users. This clear separation between base OS and later-installed software is what makes stemcells a powerful concept. In addition to being generic, stemcells for one OS (e.g. all Ubuntu Trusty and Xenial stemcells) are exactly the same for all infrastructures. This property of stemcells allows BOSH users to quickly and reliably switch between different infrastructures without worrying about the differences between OS images. The CF BOSH team is responsible for producing and maintaining an official set of stemcells. Cloud Foundry currently supports Ubuntu Trusty and Xenial on vSphere, AWS, OpenStack, Google, and Azure infrastructures.

2. **WHAT IS STEMCELL HARDENING?** Stemcell hardening is the process of securing a stemcell
by reducing its surface of vulnerability, which is larger when a system performs more functions;
in principle a single-function system is more secure than a multipurpose one.   There are
various methods of hardening Linux systems. Common techniques include reducing available methods
of attack by implementing more restrictive and/or conservative configurations of the OS kernel
and system services, changing default passwords, the removal of unnecessary software, unnecessary
usernames and logins, and the disabling or removal of unnecessary services.

3. **WHAT IS OUR GENERAL APPROACH TO STEMCELL HARDENING?** The CF stemcell is essentially
a distinct Linux distribution. As such, industry-standard benchmarks are not entirely appropriate
when assessing the security posture of the stemcell, but Pivotal has considered and incorporated
hardening guidance from various sources both commercial and government. Some parts of the
existing recommended industry-standard hardening configurations will certainly apply, but
some other parts do not apply. In addition, because each stemcell is a unique Linux distribution,
existing industry-standard benchmarks are silent on some important aspects of hardening the
stemcell configurations. The following paragraphs describe the different categories of stemcell
hardening configurations, and provide a count of the number of tests currently in each category.
**Note**: The most current description of what has been delivered is always available in the BOSH public Pivotal Trackers.

    1. **Baseline Passing:** common hardening tests that pass without any changes to the
stemcell or to test procedures. **_(130 tests)_**

    2. **Test Amended:** Stemcells are optimized for cloud deployment and some configuration
settings are not stored in traditionally-expected locations. The industry standard test was
changed to conform with stemcell design to accurately check the recommended setting. This
new test reflects the changes to the industry standard test but the stemcell adheres to commonly
accepted guidance. **_(36 tests)_**

    3. **Additional Hardening:**Configuration hardening improvements that have been made
to the stemcell. As with most software, a stemcell’s security improves over time and every
stemcell release is tested to ensure that it is suitable for use with its associated CF release.
Later releases of a stemcell may include additional security features that were not present in
earlier releases. **_(86 tests)_**

    4. **New CF-specific Tests:** New tests that have been added to check CF stemcell-specific
configurations. These tests are not yet part of any industry standard Ubuntu benchmark. This
category of tests is still under development and additional tests will be added over time. **_(20
tests)_**

4. **WHAT ARE THE MAJOR FOCUS AREAS FOR OUR STEMCELL HARDENING APPROACH?**

    5. **Maintenance, Updates, and Patching**

        1. Regular patches and feature enhancements are delivered via routine BOSH deployments of
           updated stemcells (obviates apt-get upgrade).

    6. **File System Hardening**

        2. The /tmp directory is configured to be on a separate partition.

        3. Users cannot create character or block special devices in the /tmp filesystem.

        4. Users cannot create set userid files in the /tmp filesystem.

        5. Users cannot run executable binaries from the /tmp filesystem.

        6. The temporary storage directories such as /tmp and /var/tmp are mounted on a dedicated partition, and configured with appropriately limiting options such as nodev, nosuid, and noexec.

        7. Each of the following directories is in a separate partition, with mount options managed via BOSH agent:
           + /var
           + /var/log
           + /var/log/audit
           + /home
           + /tmp

        8. File system mount options for users’ home directories are limited via appropriate mount options including nodev.

        9. Removable media may not be mounted as character or block special device.

        10. Executable programs may not run from removable media.

        11. setuid and setgid are not allowed on removable media.

        12. Users cannot create special devices in shared memory partitions.

        13. Users cannot put privileged programs onto shared memory partitions.

        14. Users cannot execute programs from shared memory partitions.

        15. Users cannot delete or rename files in world-writable directories such as /tmp that are owned by other users.

        16. Supplementary and exotic Linux file systems that are unused in CF have been disabled.

        17. Additional supplementary and exotic Linux file systems that are unused in CF have been disabled.

        18. Automount of USB drives or disks is not permitted.

    7. **Boot Security**

        19. The owner and group for the bootloader config (/boot/grub/grub.cfg) is set to root. Only root has read and write access to this file.

        20. Boot loader has been configured so that a password is required to reboot the system.

        21. Unauthorized users cannot reboot the system into single user mode.

    8. **Process Security**

        22. Users cannot override the soft limit for core dumps.

        23. Randomized virtual memory region placement is enabled.

        24. Prelinking of shared libraries is disabled.

    9. **Minimization of Attack Surface**

        25. The Network Information Service ("NIS") is not used in CF and is not installed.

        26. The Berkeley rsh-server package is not used in CF and is disabled.

        27. Classic rsh-related tools are not used in CF and are not installed.

        28. The following servers are not used on CF stemcells and are disabled:
            + talk server
            + telnet server
            + tftp-server
            + Avahi
            + print
            + DHCP
            + DNS
            + FTP
            + IMAP
            + POP
            + HTTP
            + SNMP

        29. The talk client is not used in CF and is not installed.

        30. The eXtended InterNET Daemon (xinetd) is not used in CF and is disabled.

        31. The following network services are not used in CF and are disabled:
            + chargen
            + daytime
            + echo
            + discard
            + time

        32. The X Window system is not used in CF and is not installed.

        33. NTP time setting is synchronized on the stemcell via the ntpdate utility.

        34. The Samba daemon is not used in CF and is disabled.

        35. The Mail Transfer Agents (MTA) process only local mail.

        36. The rsync service is not used in CF and is disabled.

        37. The biosdevname tool is disabled.

    10. **Network Security**

        38. IPv4 networking is configured such that IP forwarding is disabled.

        39. The IPv4 networking has been configured such that the host cannot send ICMP redirects.

        40. IPv4 networking has been configured such that the system does not accept source routed packets.

        41. IPv4 networking is configured such that ICMP redirects are not accepted.

        42. ICMP echo and timestamp requests with broadcast or multicast destinations will be ignored.

        43. The stemcell will ignore malformed ICMP error responses.

        44. IPv4 networking is configured for source route validation.

        45. TCP SYN cookies are enabled.

        46. Stemcells are set to refuse IPv6 router advertisements.

        47. The /etc/hosts.allow file exists and is empty.

        48. The /etc/hosts.allow and /etc/hosts.deny files are protected from unauthorized write access.

        49. The /etc/hosts.deny file exists and is empty.

        50. The following protocols are not used in CF and are disabled:
            + SCTP
            + DCCP
            + TIPC
            + LDAP
            + RDS

        51. Wireless interfaces are disabled.

        52. IPv6 is not used in CF deployments and the IPv6 protocol is disabled.

    11. **Auditing**

        53. Audit log file size is configured for a manageable maximum size of 6 MB.

        54. The system auditd logs have been configured such that the system is resilient in the event of a denial of service attack on the auditd daemon.

        55. Auditd daemon is configured such that all auditd logs are kept after rotation.

        56. The auditd service is enabled.

        57. Auditing of successful and failed login/logout events is enabled.

        58. The Linux auditing subsystem has been configured in accordance with best practice industry guidance to capture all security-relevant events. The /etc/audit/audit.rules configuration now contains more than 50 monitoring rules.

        59. Audit records are created for loading and unloading of kernel modules and for system calls.

        63. File Integrity Monitoring can be done on the stemcell (via a BOSH Add-on).

    12. **Authentication and Authorization**

        64. The cron daemon is enabled.

        65. Access to the /etc/crontab file is limited to root.

        66. Access to the cron utility configuration via the hourly, daily, weekly, and monthly directories is limited.

        67. User authorization to schedule cron jobs is limited.

        68. Only the vcap user is whitelisted to use the cron and at utilities.

        69. Password requirements follow industry best practice guidance and enforce a minimum length of 14 characters, with at least one each of: digit, uppercase, lowercase and special characters.

        70. Password reuse: users cannot reuse their twenty most recent passwords.

        71. SSH protocol version is configured for SSH-2.

        72. Logging level for SSH event is INFO.

        73. Minimum permissions are set on /etc/ssh/sshd_config.

        74. SSH X11 forwarding is disabled.

        75. The MaxAuthTries parameter for SSH is set to 3 attempts per connection.

        76. SSH is configured to require passwords and ignore host-based authentication.

        77. Root logins are not allowed over SSH.

        78. Users cannot set environment variables through the SSH daemon.

        79. SSH has been configured to use strong ciphers:
            + aes128-ctr
            + aes192-ctr
            + aes256-ctr

        80. Idle SSH sessions are terminated after 15 minutes, and no client "keep alive" messages are sent.

        81. Idle SSH sessions are terminated after 15 minutes. No client "keep alive" messages are sent.

        82. The SSH login banner may be configured to display site-specific text before user authentication is permitted (via BOSH Add-on).

        83. Root login is only permitted via console, not via tty devices.

        84. Only the vcap user is authorized in the sudo group.

        85. Only users in the root group (a.k.a. wheel) are authorized to run the su command.

    13. **Compliance**

        86. Contents of /etc/issue and /etc/issue.net have been configured to the phrase: "'Unauthorized use is strictly prohibited. All access and activity is subject to logging and monitoring." This may be amended if and as necessary via a BOSH Add-on.

        87. The Message of the Day file /etc/motd is not used, but may be populated via a BOSH Add-on if needed.

        88. Identification of the OS and/or version information about the OS does not appear in any login banners.

    14. **File System Permissions**

        89. The /etc/passwd, /etc/shadow, and /etc/group files are protected from unauthorized write access.

        90. Use and/or presence of any world-writable files has been audited, and minimized to the extent possible for CF.

        91. By default, all stemcell files are owned by a known user and group, and may not belong to a non-existent user or group.

        92. Use of SUID and GUID is restricted, and only the /usr/bin/sudo and /bin/su programs are authorized as SUID and/or GUID programs.

    15. **User Account Management**

        93. Users cannot change their password more than once a day.

        94. Users are notified 7 days before their passwords expire.

        95. Interactive logins are disabled for system accounts.

        96. The GID for the root account is 0.

        97. User accounts may not have empty passwords.

        98. NIS is not used in CF, and integration of OS security configuration with legacy NIS permissioning is not enabled (e.g., for /etc/passwd, shadow, and group).

        99. By default, the only UID 0 account present is root.

        100. By default, the root PATH does not include any risky directory such as the current working (.) or any writable directory.

        101. Minimum privileges are applied to all users' hidden configuration ("dot") files.

        102. The .netrc and .rhosts and .forward files are not used in CF and are not present in any user home directory.

        103. Any group present in the /etc/passwd file must also exist in the /etc/group file.

        104. Users defined in /etc/password must have a valid home directory.

        105. Users must own their home directories.

        106. All references to user and group names, as well as UID and/or GID identifiers, are self consistent, with no duplicates or orphans allowed.

        107. By default, the shadow group is not used in CF and must be empty.
