---
title: Stemcell Security
owner: Security
---

This section provides links to topics about how Pivotal implements security in the stemcell
layer of Pivotal Cloud Foundry (PCF).

* <a href="https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/understanding-stemcells.html">Floating Stemcells</a>: 
How PCF automatically upgrades all compatible products when a new stemcell is available.
* <a href="./stemcell-hardening.html">Linux Stemcell Hardening</a>: How Pivotal secures Linux stemcells through regular testing and minimizing their surface of vulnerability.

For more information about stemcell availability and related security fixes, see <a href="https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/stemcells/index.html">Stemcell Release Notes</a>.
