---
title: Troubleshooting CredHub Maestro Safety Violations During Certificate Rotation
owner: CredHub
---

This topic provides operators with information on how to troubleshoot safety violation errors that are returned when rotating certificates with either the Ops Manager API or CredHub Maestro CLI.

## <a id="overview"></a> Overview of CredHub Maestro Safety Checks

CredHub Maestro performs basic safety checks when rotating certificates to prevent unsafe operations. 

The Ops Manager API invokes CredHub Maestro when rotating certificates. If a certificate rotation API command is unsafe, CredHub Maestro stops the command and returns one or more safety violations.

The Ops Manager API does not invoke CredHub Maestro and subsequently Maestro-related safety checks during certificate rotation if it detects Pivotal Application Service (PAS) earlier than v2.8.2 or any version of Tanzu Kubernetes Grid Integrated Edition (TKGI) or Pivotal Container Service (PKS) installed.

CredHub Maestro returns safety violations if a rotation step is run out of order. For example, you generate a new root certificate authority (CA) but attempt to activate it before clicking **Apply Changes**. Performing steps out of the correct order during certificate rotations can make your deployment unstable or risk downtime.

For information about certificate rotation using the Ops Manager API, see [Rotating Certificates](api-cert-rotation.html).

For information about using the CredHub Maestro CLI, see [Getting Started with CredHub Maestro](getting-started-with-maestro-cli.html).

## <a id="skip-checks"></a> Skip Safety Checks

To skip CredHub Maestro safety checks in Ops Manager API calls, you can pass `skip_safety_check=true` as a parameter to certificate rotation API endpoints. 

To skip CredHub Maestro safety checks in the CredHub Maestro CLI, specify the `--skip-safety-check` flag when running certificate rotation commands. 

<p class="note warning"><strong>Warning</strong> Skipping safety checks is strongly discouraged. Use the option only if absolutely necessary. For example, you might want to skip safety checks if your CA has already expired and your apps are experiencing downtime. Skipping safety checks can help bring your apps back online faster. If certificates have expired, contact <%= vars.support_link %> for guidance.</p>

## <a id="error_ref"></a> Troubleshoot Certificate Rotation Safety Violations

This section lists known safety violations that may occur when using the Ops Manager API or CredHub Maestro CLI to rotate certificates. Each table includes the literal safety violation message, describes the safety violation, and presents possible solutions to resolve the underlying cause. 

### <a id="multiple-signing-cas"></a> Multiple Signing Versions of a CA

<div>
  <table class="nice">
    <style>
      main table {
        table-layout: fixed;
      }
    </style>
  <col width="20%">
  <col width="80%">
  <tr>
  <th> Safety Violation </th>
  <th style="text-align: left;"> <br>
   <code>there is more than one signing version of a certificate authority</code>
  <br><br></th>
  </tr>
  <tr>
    <th> Related Commands </th>
    <td>This safety violation may appear after calling the following Ops Manager API endpoints:
      <ul><li><code>POST /api/v0/certificate_authorities/generate</code></li>
      <li><code>POST /api/v0/certificate_authorities/{certificate_authority_guid}/activate</code></li>
      <li><code>POST /api/v0/certificate_authorities/active/regenerate</code></li>
      <li><code> DELETE /api/v0/certificate_authorities/{certificate_authority_guid}</code>
      </li>
      </ul>Or after running one of the following commands:
      <ul><li><code>maestro regenerate ca</code></li>
          <li><code>maestro update-transitional signing</code></li>
          <li><code>maestro regenerate leaf</code></li>
          <li><code>maestro update-transitional remove</code></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>Cause</th>
    <td>CredHub Maestro expects that only one version of a CA is used to sign active leaf certificates. During the rotation process, Maestro moves forward from one CA version to another in bulk, but is not equipped to handle mixed-mode operations where multiple CA versions are actively in use.
</td>
  </tr>
  <tr>
    <th style="vertical-align: top; padding-top: 1em;">Solution</th>
    <td>There are two possible problems with different solutions. To identify and resolve the root issue: 
      <ol>
      <li>Run <code>maestro topology --name CERTIFICATE-NAME</code> where <code>CERTIFICATE-NAME</code> is the name and full path of the certificate returned in the error message.</li>
      <li>Check the command line output for the following:
        <ul>
        <li>
        If the <code>signs</code> field contains a child certificate that has two versions set to <code>active: true</code> with different product tile deployment names:
         <ol><li> Navigate to the <strong>Ops Manager Installation Dashboard</strong>.</li>
         <li> Click <strong>Review Pending Changes</strong>.</li> 
         <li> Select the product tile that is associated with the older certificate version.</li>
         <li> Click <strong>Apply Changes</strong>.</li>
       </ol></li></li>
      <li>If there are multiple child certificates and their active versions have different signed-by versions:
      <ol>
         <li> Run <code>maestro regenerate leaf --signed-by PARENT-CA-NAME</code> where <code>PARENT-CA-NAME</code> is the name of the signing CA.</li>
         <li> Navigate to the <strong>Ops Manager Installation Dashboard</strong>.</li>
         <li> Click <strong>Review Pending Changes</strong>.</li>
         <li> Select all products.</li>
         <li> Click <strong>Apply Changes</strong>.</li>
      </ol>
      </li>
      </ul>
    </ol>
</td>
  </tr>
</table>
</div>

### <a id="transitional-ca-detected"></a> Transitional Version of CA Detected

<div>
  <table class="nice">
    <style>
      main table {
        table-layout: fixed;
      }
    </style>
  <col width="20%">
  <col width="80%">
  <tr>
  <th> Safety Violation </th>
  <th style="text-align: left;"> <br>
   <code>certificate authorities can not have a transitional version</code>
  <br><br></th>
  </tr>
  <tr>
    <th>Related Commands</th>
    <td>This safety violation may appear after calling the <code>POST /api/v0/certificate_authorities/generate</code> Ops Manager API endpoint or after running the <code>maestro regenerate ca</code> command.
    </td>
  </tr>
  <tr>
    <th>Cause</th>
    <td>Maestro has detected an existing transitional CA version. This means that the certificate rotation process has already started.
</td>
  </tr>
  <tr>
    <th style="vertical-align: top; padding-top: 1em;">Solution</th>
    <td>Continue with the certificate rotation procedure. In most cases, this means clicking <strong>Apply Changes</strong> in the Ops Manager Installation Dashboard. Do not run earlier commands after the rotation process has started.</td>
  </tr>
</table>
</div>

### <a id="multiple-active-child-certs"></a> Multiple Active Child Certificates

<div>
  <table class="nice">
    <style>
      main table {
        table-layout: fixed;
      }
    </style>
  <col width="20%">
  <col width="80%">
  <tr>
  <th> Safety Violation </th>
  <th style="text-align: left;"> <br>
   <code>active child certificate version is not the latest non-transitional version or more than one active version exists</code>
  <br><br></th>
  </tr>
  <tr>
    <th>Related Commands</th>
    <td>This safety violation may appear after calling the following Ops Manager API endpoints:
      <ul><li><code>POST /api/v0/certificate_authorities/generate</code></li>
      <li><code>POST /api/v0/certificate_authorities/{certificate_authority_guid}/activate</code></li>
      </ul> Or after running the following commands:
      <ul><li><code>maestro regenerate ca</code></li>
        <li><code>maestro update-transitional signing</code></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>Cause</th>
    <td>This error usually occurs if you have not applied your changes to all the deployments that are required to propagate the latest version of the child certificate. A child certificate can refer to a leaf certificate or an intermediate certificate.
</td>
  </tr>
  <tr>
    <th style="vertical-align: top; padding-top: 1em;">Solution</th>
    <td>To resolve this error:<br/><br/>
      <ol>
         <li> Navigate to the <strong>Ops Manager Installation Dashboard</strong>.</li>
         <li> Click <strong>Review Pending Changes</strong>.</li>
         <li> Select all products.</li>
         <li> Click <strong>Apply Changes</strong>.</li>
         <li> After the deployment completes, confirm that the latest version is propagated by running <code>maestro topology --name CERTIFICATE-NAME</code> where <code>CERTIFICATE-NAME</code> is the name of the certificate returned in the error message.</li>
      </ol>
    </td>
  </tr>
</table>
</div>

### <a id="ca-not-transitional"></a> Latest CA is Not Transitional

<div>
  <table class="nice">
    <style>
      main table {
        table-layout: fixed;
      }
    </style>
  <col width="20%">
  <col width="80%">
  <tr>
  <th> Safety Violation </th>
  <th style="text-align: left;"> <br>
   <code> certificate authorities latest version is not transitional</code>
  <br><br></th>
  </tr>
  <tr>
    <th>Related Commands</th>
    <td>This safety violation may appear after calling the <code>POST /api/v0/certificate_authorities/{certificate_authority_guid}/activate</code> Ops Manager API endpoint or after running the <code>maestro update-transitional signing</code> command.
    </td>
  </tr>
  <tr>
    <th>Cause</th>
    <td>The latest version of each CA is expected to be transitional before the latest CA version becomes the future signing version. This allows trust to be incrementally added to the latest version before it ever gets used.
</td>
  </tr>
  <tr>
    <th style="vertical-align: top; padding-top: 1em;">Solution</th>
    <td>
      Continue with the certificate rotation procedure. In most cases, this means clicking <strong>Apply Changes</strong> in the Ops Manager Installation Dashboard. Do not run earlier commands after the rotation process has started.
      <br/><br/>
      If you believe you are running the steps in the correct order, it is possible that a new CA has been created in CredHub after the rotation process has begun. 
      <br/><br/>
      To work around this situation, take one of the following actions: 
      <ul>
      <li>If the CA is new, exclude this CA by adding the <code>--exclude=CA-NAME</code> option for future commands during this rotation. For example, <code>maestro update-transitional signing --exclude=CA-NAME</code>.
      <li>If you need to rotate the CA now, re-run the earlier CredHub Maestro rotation steps <code>maestro regenerate ca CA-NAME</code> where <code>CA-NAME</code> is the name of a CA that was not originally present. Repeat this step for all CAs not originally present. This gets all targeted CAs into the same state. Then, run the <code>maestro update-transitional signing</code> step again.</li>
    </td>
  </tr>
</table>
</div>

### <a id="signing-version-transitional-req"></a> Signing Version Must Be Transitional

<div>
  <table class="nice">
    <style>
      main table {
        table-layout: fixed;
      }
    </style>
  <col width="20%">
  <col width="80%">
  <tr>
  <th> Safety Violation </th>
  <th style="text-align: left;"> <br>
   <code>signing version has to be transitional if there is a transitional certificate authority</code>
  <br><br></th>
  </tr>
  <tr>
    <th>Related Commands</th>
    <td>This safety violation may appear after calling the <code>POST /api/v0/certificate_authorities/active/regenerate</code>Ops Manager API endpoint or after running the <code>maestro regenerate leaf</code> command.
    </td>
  </tr>
  <tr>
    <th>Cause</th>
    <td>The leaf certificates must only be signed by older versions of their appropriate CAs. At this point in the rotation, the older signing version for each CA should be transitional so that new leaf certificates are issued from the latest version.
</td>
  </tr>
  <tr>
    <th style="vertical-align: top; padding-top: 1em;">Solution</th>
    <td>Continue with the certificate rotation procedure. In most cases, this means clicking <strong>Apply Changes</strong> in the Ops Manager Installation Dashboard. Do not run earlier commands after the rotation process has started.
    <br/><br/>
    If you believe you are running the steps in the correct order, it is possible that a new leaf was issued while the rotation process was in progress. You may also receive the <a href="#multiple-signing-cas"><code>there is more than one signing version</code></a> error. If this safety violation error appears, follow the mitigation steps for that error.
    </td>
  </tr>
</table>
</div>

### <a id="active-not-latest"></a> Active Certificates Not Signed By Latest CA Detected

<div>
  <table class="nice">
    <style>
      main table {
        table-layout: fixed;
      }
    </style>
  <col width="20%">
  <col width="80%">
  <tr>
  <th> Safety Violation </th>
  <th style="text-align: left;"> <br>
   <code>active child certificate version is signed by a certificate authority that is not the latest version</code>
  <br><br></th>
  </tr>
  <tr>
    <th>Related Commands</th>
    <td>This safety violation may appear after calling the <code> DELETE /api/v0/certificate_authorities/{certificate_authority_guid}</code> Ops Manager API endpoint or after running the <code>maestro update-transitional remove</code> command.
    </td>
  </tr>
  <tr>
    <th>Cause</th>
    <td>There are still active intermediate CAs or leaf certificates that are not signed by the latest CA version.</td>
  </tr>
  <tr>
    <th style="vertical-align: top; padding-top: 1em;">Solution</th>
    <td>Continue with the certificate rotation procedure. In most cases, this means clicking <strong>Apply Changes</strong> in the Ops Manager Installation Dashboard. Do not run earlier commands after the rotation process has started.
</td>
  </tr>
</table>
</div>

### <a id="active-not-latest"></a> Stale Leaf Certificates Detected

<div>
  <table class="nice">
    <style>
      main table {
        table-layout: fixed;
      }
    </style>
  <col width="20%">
  <col width="80%">
  <tr>
  <th> Safety Violation </th>
  <th style="text-align: left;"> <br>
   <code>active certificate version is not the latest non transitional version</code>
  <br><br></th>
  </tr>
  <tr>
    <th>Related Commands</th>
    <td>This safety violation may appear after calling the <code> DELETE /api/v0/certificate_authorities/{certificate_authority_guid}</code> Ops Manager API endpoint or after running the <code>maestro update-transitional remove</code> command.
    </td>
  </tr>
  <tr>
    <th>Cause</th>
    <td>There are still stale leaf certificates in use with new versions ready to be deployed.</td>
  </tr>
  <tr>
    <th style="vertical-align: top; padding-top: 1em;">Solution</th>
    <td>Continue with the certificate rotation procedure. In most cases, this means clicking <strong>Apply Changes</strong> in the Ops Manager Installation Dashboard. Do not run earlier commands after the rotation process has started.
</td>
  </tr>
</table>
</div>

### <a id="transitional-ca-latest"></a> Transitional CA Detected as Latest CA

<div>
  <table class="nice">
    <style>
      main table {
        table-layout: fixed;
      }
    </style>
  <col width="20%">
  <col width="80%">
  <tr>
  <th> Safety Violation </th>
  <th style="text-align: left;"> <br>
   <code>transitional certificate authority is the latest version
</code>
  <br><br></th>
  </tr>
  <tr>
    <th>Related Commands</th>
    <td>This safety violation may appear after calling the <code> DELETE /api/v0/certificate_authorities/{certificate_authority_guid}</code> Ops Manager API endpoint or after running the <code>maestro update-transitional remove</code> command.
    </td>
  </tr>
  <tr>
    <th>Cause</th>
    <td>The latest version of one or more CAs is transitional, when CredHub Maestro is expecting the transitional version to be an older version.
</td>
  </tr>
  <tr>
    <th style="vertical-align: top; padding-top: 1em;">Solution</th>
    <td>Continue with the certificate rotation procedure. In most cases, this means clicking <strong>Apply Changes</strong> in the Ops Manager Installation Dashboard. Do not run earlier commands after the rotation process has started.
    <br/><br/>
    It is possible that you are attempting to halt a rotation in the early stages, likely after new transitional CAs have been issued but not yet used. Continue with the rotation at this point. If continuing with the rotation is impossible due to other deployment needs, reach out to <a href="https://tanzu.vmware.com/support">Support</a> for guidance.
  </td>
  </tr>
</table>
</div>