---
title: GDPR Compliance
owner: Security
---

This topic provides an overview of the General Data Protection Regulation (GDPR), and how Pivotal Cloud Foundry (PCF) operators can ensure compliance.

##<a id='overview'></a> Overview

If your organization is subject to the laws of the European Union (EU), you may be affected by the GDPR.

The GDPR is a data privacy regulation that became enforceable in the EU on May 25, 2018. 
The regulation imposes new obligations on organizations that collect and process personal data. 
For an overview of the key changes, see the GDPR [website](https://www.eugdpr.org/the-regulation.html).

##<a id='personal-data'></a> Understand Personal Data

The GDPR grants EU citizens certain rights, such as the right to obtain a copy of their personal data and the right to have their personal data erased.

Article 4, Section 1 of the GDPR defines personal data as follows:

<blockquote>
'personal data' means any information relating to an identified or identifiable natural person ('data subject'); an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person;
</blockquote> 

For more information, see the GDPR [text](http://www.privacy-regulation.eu/en/article-4-definitions-GDPR.htm).

##<a id='compliance'></a> Understand Compliance

To comply with the GDPR, you must know where you are storing personal data. This enables you to fulfill a request by an EU citizen to erase their personal data or provide a copy of it.

Your PCF deployment may store personal data such as names, email addresses, and other information. 
For a full list of all personal data stored by PCF, see [Understanding Personal Data in PCF and PWS](https://gdpr-locations.cfapps.io/pivotalcf/2-2/security/gdpr-locations.html).

For assistance in fulfilling a GDPR request, contact [Pivotal Support](https://support.pivotal.io).





