## <a id="bosh-dns"></a> BOSH DNS Communications

By default, <%= vars.product_short %> components and app containers look up services using the BOSH DNS service discovery mechanism. To support this lookup, BOSH Director colocates a BOSH DNS server on every deployed VM. For more information, see [BOSH DNS Network Communications](./bosh-dns-network-paths.html).
