---
title: BOSH DNS Network Communications
owner: BOSH
---

This topic describes BOSH DNS internal network communication paths with other <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) components.

For more information about BOSH DNS, see [Native DNS Support](https://bosh.io/docs/dns.html) in the BOSH documentation.


## <a name="inbound"></a> BOSH DNS Communications

The following table lists network communication paths for BOSH DNS. For information about configuring BOSH DNS in the BOSH Director, see [BOSH DNS Config Pane in the BOSH Director Tile](https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/opsmanager-rn.html#dns-form) in the _<%= vars.ops_manager_full %> v2.4 Release Notes_.

<p class="note"><strong>Note:</strong> Port 8853 is the destination port for communications between BOSH DNS health processes. You must allow TCP traffic on 8853 for all VMs running BOSH DNS.</p>

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| Any VM running BOSH DNS | backup-prepare | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | ccdb | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | clock_global | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | cloud_controller | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | cloud_controller_worker | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | consul_server | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | diego_brain | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | diego_cell | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | diego_database| 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | doppler | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | ha_proxy | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | loggregator_trafficcontroller | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | mysql_proxy<sup>&#42;</sup> | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | mysql_monitor<sup>&#42;</sup> | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | nats | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | nfs_server<sup>&#8224;</sup> | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | router | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | tcp_router | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | uaa | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | uaadb | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | Service tile VMs | 53 | TCP and UDP | DNS | Unencrypted. This communication happens inside the VM. |
| Any VM running BOSH DNS | backup-prepare | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | ccdb | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | clock_global | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | cloud_controller | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | cloud_controller_worker | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | consul_server | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | diego_brain | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | diego_cell | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | diego_database | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | doppler | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | ha_proxy | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | loggregator_trafficcontroller | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | mysql_proxy<sup>&#42;</sup> | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | mysql_monitor<sup>&#42;</sup> | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | nats | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | nfs_server<sup>&#8224;</sup> | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | router | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | syslog_adapter | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | syslog_scheduler | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | tcp_router | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | uaa | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | uaadb | 8853 | TCP | HTTPS | Mutual TLS |
| Any VM running BOSH DNS | Service tile VMs | 8853 | TCP | HTTPS | Mutual TLS |

<sup>&#42;</sup>Applies only to deployments where internal MySQL is selected as the database.

<sup>&#8224;</sup>Applies only to deployments where the internal NFS server is selected for file storage.
