---
title: Container-to-Container Networking Communications
owner: Networking
---

This topic describes [Container-to-Container Networking](../../concepts/understand-cf-networking.html) internal 
network communication paths with other Pivotal Application Service (PAS) components.

## <a id="inbound"></a> Inbound Communications

The following table lists network communication paths that are inbound to the Container-to-Container Networking.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Transport Layer Protocol</th>
  <th>App Layer Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
</tr>
</table>

## <a id="outbound"></a> Outbound Communications ##

The following table lists network communication paths that are outbound from the Container-to-Container Networking.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Transport Layer Protocol</th>
  <th>App Layer Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
<tr>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
</tr>
</table>
