---
title: Container-to-Container Networking Communications
owner: CF for VMs Networking
---

This topic describes container-to-container networking internal network communication paths with other <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) components.

For more information about container-to-container networking, see [Container-to-Container Networking](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/understand-cf-networking.html).


## <a id="inbound"></a> Inbound Communications

The following table lists network communication paths that are inbound to container-to-container networking.

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| diego_cell (Silk CNI) | diego_cell (Silk Daemon) | 23954 | TCP | HTTP | None |
| diego_cell (Silk Daemon) | diego_api (Silk Controller) | 4103 | TCP | HTTP | Mutual TLS |
| diego_cell (VXLAN Policy Agent) | diego_database (api - Policy Server Internal) | 4003 | TCP | HTTP | Mutual TLS |
| diego_cell (BOSH DNS Adapter) | diego_brain (Service Discovery Controller) | 8054 | TCP | HTTP | Mutual TLS |


## <a id="outbound"></a> Outbound Communications

The following table lists network communication paths that are outbound from container-to-container networking:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| diego_database (API - Policy Server) | uaa | 8443 | TCP | HTTPS | TLS |
| diego_database (API - Policy Server) | cloud_controller (api - Cloud Controller) | 9022 | TCP | HTTP | OAuth 2.0 |
| diego_database (API - Policy Server) | mysql_proxy<sup>&#42;</sup> | 3306 | TCP | MySQL | MySQL authentication |
| diego_brain (Service Discovery Controller) | nats (NATS) | 4222 | TCP | HTTP | Basic authentication |
| diego_cell (BOSH DNS) | diego_cell (BOSH DNS Adapter) | 8053 | TCP | HTTP | None |
| diego_cell (VXLAN Policy Agent) | mysql_proxy<sup>&#42;</sup> | 3306 | TCP | MySQL | MySQL authentication |

<sup>&#42;</sup>Applies only to deployments where internal MySQL is selected as the database.

<%= partial "bosh-dns" %>
