---
title: Container-to-Container Networking Communications
owner: Networking
---

This topic describes [Container-to-Container Networking](../../concepts/understand-cf-networking.html) internal 
network communication paths with other Pivotal Application Service (PAS) components.

## <a id="inbound"></a> Inbound Communications

The following table lists network communication paths that are inbound to Container-to-Container Networking.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Transport Layer Protocol</th>
  <th>App Layer Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
  <td> diego-cell (Silk CNI) </td>
  <td> diego-cell (Silk Daemon) </td>
  <td> 23954 </td>
  <td> TCP </td>
  <td> HTTP </td>
  <td> None </td>
</tr>
<tr>
  <td> diego-cell (Silk Daemon) </td>
  <td> diego-api (Silk Controller) </td>
  <td> 4103 </td>
  <td> TCP </td>
  <td> HTTP </td>
  <td> mTLS </td>
</tr>
<tr>
  <td> diego-cell (VXLAN Policy Agent) </td>
  <td> api (Policy Server Internal) </td>
  <td> 4003 </td>
  <td> TCP </td>
  <td> HTTP </td>
  <td> mTLS </td>
</tr>
</table>
#
## <a id="outbound"></a> Outbound Communications ##

The following table lists network communication paths that are outbound from Container-to-Container Networking.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Transport Layer Protocol</th>
  <th>App Layer Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
<tr>
  <td> api (Policy Server) </td>
  <td> uaa </td>
  <td> 8443 </td>
  <td> TCP </td>
  <td> HTTPS </td>
  <td> TLS </td>
</tr>
<tr>
  <td> api (Policy Server) </td>
  <td> api (Cloud Controller) </td>
  <td> 9022 </td>
  <td> TCP </td>
  <td> HTTP </td>
  <td> OAuth 2.0 </td>
</tr>
</table>
