---
title: Cloud Controller Network Communications
owner: CAPI
---

This topic describes Cloud Controller internal network communication paths with other Elastic Runtime components.

## <a id="inbound"></a> Inbound Communications

The following table lists network communication paths that are inbound to the Cloud Controller.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
  <td>diego_brain</td>
  <td>cloud_controller</td>
  <td>443</td>
  <td>HTTPS</td>
  <td>mTLS</td>
</tr>
<tr>
  <td>diego_database (BBS)</td>
  <td>cloud_controller</td>
  <td>443</td>
  <td>HTTPS</td>
  <td>mTLS</td>
</tr>
<tr>
  <td>diego_cell (Rep)</td>
  <td>cloud_controller</td>
  <td>443</td>
  <td>HTTPS</td>
  <td>mTLS</td>
</tr>
<tr>
  <td>loggregator_trafficcontroller (log access)</td>
  <td>cloud_controller</td>
  <td>9022</td>
  <td>HTTP</td>
  <td>OAuth or basic authentication</td>
</tr>
<tr>
  <td>loggregator_trafficcontroller (syslog drains)</td>
  <td>cloud_controller</td>
  <td>443</td>
  <td>HTTPS</td>
  <td>mTLS</td>
</tr>
<tr>
  <td>router</td>
  <td>cloud_controller</td>
  <td>9022</td>
  <td>HTTP</td>
  <td>UAA tokens</td>
</tr>
</table>

## <a id="outbound"></a> Outbound Communications ##

The following table lists network communication paths that are outbound from the Cloud Controller.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
  <td>cloud_controller</td>
  <td>uaa</td>
  <td>8443</td>
  <td>HTTPS</td>
  <td>OAuth or none.<br/>Method depends on the type of request.</td>
</tr>
<tr>
  <td>cloud_controller</td>
  <td>cloud_controller (Routing API)</td>
  <td>443</td>
  <td>HTTPS</td>
  <td>UAA tokens</td>
</tr>
<tr>
  <td>cloud_controller</td>
  <td>mysql_proxy<sup>&#42;</sup></td>
  <td>3306</td>
  <td>MySQL</td>
  <td>Basic authentication</td>
 </tr>
 <tr>
  <td>cloud_controller</td>
  <td>nfs_server or other blobstore<sup>&#135;</sup></td>
  <td>4443</td>
  <td>HTTPS</td>
  <td>TLS/basic authentication</td>
 </tr>
 <tr>
  <td>cloud_controller_worker</td>
  <td>mysql_proxy<sup>&#42;</sup></td>
  <td>3306</td>
  <td>MySQL</td>
  <td>MySQL authentication</td>
 </tr>
 <tr>
  <td>cloud_controller_worker</td>
  <td>nfs_server or other blobstore<sup>&#135;</sup></td>
  <td>4443</td>
  <td>HTTPS</td>
  <td>TLS/basic authentication</td>
 </tr>
  <tr>
  <td>clock_global</td>
  <td>mysql_proxy<sup>&#42;</sup></td>
  <td>3306</td>
  <td>MySQL</td>
  <td>Basic authentication</td>
 </tr>
 </table>

<sup>&#42;</sup>Only applies to deployments where internal MySQL is selected as the database.

<sup>&#135;</sup>Destination depends on file storage or blobstore configuration.

## <a id="consul"></a>Consul Communications

Every BOSH-deployed VM, including cloud_controller and cloud_controller_worker, calls out to Consul for service discovery. For more information, see [Consul Network Communications](./consul-network-paths.html).
