---
title: Cloud Controller Network Communications
owner: CAPI
---

This topic describes Cloud Controller internal network communication paths with other <%= vars.product_runtime %> (<%= vars.product_short %>) components.

For more information about Cloud Controller, see [Cloud Controller](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/architecture/cloud-controller.html).


## <a id="inbound"></a> Inbound Communications

The following table lists network communication paths that are inbound to the Cloud Controller:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| cloud_controller | cloud_controller (Routing API) | 443 | TCP | HTTPS | OAuth 2.0 |
| diego_brain | cloud_controller | 9023 | TCP | HTTPS | Mutual TLS |
| diego_brain (SSH Proxy) | cloud_controller | 9024 | TCP | HTTPS | OAuth 2.0 |
| diego_cell (Rep) | cloud_controller | 9023 | TCP | HTTPS | Mutual TLS |
| diego_database (BBS) | cloud_controller | 9023 | TCP | HTTPS | Mutual TLS |
| doppler (Syslog Drain Binder) | cloud_controller | 9023 | TCP | HTTPS | Mutual TLS |
| loggregator_trafficcontroller | cloud_controller | 9023 | TCP | HTTPS | Mutual TLS |
| router | cloud_controller | 9024 | TCP | HTTPS | OAuth 2.0 |


## <a id="outbound"></a> Outbound Communications

The following table lists network communication paths that are outbound from the Cloud Controller:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| cloud_controller | mysql_proxy<sup>&#42;</sup> | 3306 | TCP | MySQL | MySQL authentication<sup>&#42;&#42;</sup> |
| cloud_controller | nfs_server or other blobstore<sup>&#8224;</sup> | 4443 | TCP | HTTPS | TLS and basic authentication |
| cloud_controller | uaa | 8443 | TCP | HTTPS | OAuth 2.0 or none<sup>&#135;</sup> |
| cloud_controller | diego_database (BBS) | 8889 | TCP | HTTPS | Mutual TLS |
| cloud_controller (Route Registrar) | nats | 4222 | TCP | NATS | Basic authentication |
| cloud_controller (Routing API) | diego_database (Locket) | 8891 | TCP | HTTPS | Mutual TLS |
| cloud_controller_worker | mysql_proxy<sup>&#42;</sup> | 3306 | TCP | MySQL | MySQL authentication<sup>&#42;&#42;</sup> |
| cloud_controller_worker | nfs_server or other blobstore<sup>&#8224;</sup> | 4443 | TCP | HTTPS | TLS and basic authentication |
| clock_global | mysql_proxy<sup>&#42;</sup> | 3306 | TCP | MySQL | MySQL authentication<sup>&#42;&#42;</sup> |

<sup>&#42;</sup>Applies only to deployments where internal MySQL is selected as the database.

<sup>&#42;&#42;</sup>MySQL authentication uses the MySQL native password method.

<sup>&#8224;</sup>The destination depends on your file storage or blobstore configuration.

<sup>&#135;</sup>The authentication method depends on the type of request.

<%= partial 'bosh-dns' %>
