---
title: Consul Network Communications
owner: Consul
---

This topic describes [Consul](https://github.com/hashicorp/consul) internal network communication paths with other Elastic Runtime components.

## <a id="inbound"></a> Consul Communications

The following table lists network communication paths for Consul.

<p class="note"><strong>Note</strong>: Port 8301 is the destination port for communications between Consul agents. You must allow both TCP and UDP traffic on port 8301 for all VMs running Consul. In addition, <code>consul_server</code> communicates with Consul VMs, including other Consul servers, on port 8300.</p>

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Transport Layer Protocol</th>
  <th>App Layer Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>ccdb</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>clock_global</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>cloud_controller</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>cloud_controller_worker</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>consul_server</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>diego_brain</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>diego_cell</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>diego_database</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>doppler</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>ha_proxy</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>loggregator_trafficcontroller</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>mysql_proxy<sup>&#42;</sup></td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>nats</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>nfs_server<sup>&#8224;</sup></td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>router</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>syslog_adapter</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>syslog_scheduler</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>tcp_router</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>uaa</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>uaadb</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>Service tile VMs</td>
  <td>8301</td>
  <td></td>
  <td>Gossip (Serf)</td>
  <td>Shared secret</td>
</tr>
<tr>
  <td>Any VM running Consul</td>
  <td>consul_server</td>
  <td>8300</td>
  <td></td>
  <td>HTTPS</td>
  <td>Mutual TLS from the same CA</td>
</tr>
</table>

<sup>&#42;</sup>Applies only to deployments where internal MySQL is selected as the database.

<sup>&#8224;</sup>Applies only to deployments where the internal NFS server is selected for file storage.
