---
title: Consul Network Communications
owner: Consul
---

This topic describes [Consul](https://github.com/hashicorp/consul) internal network communication paths with other PCF components.

## <a id="inbound"></a> Consul Communications

The following table lists network communication paths for Consul.

<p class="note"><strong>Note</strong>: <code>consul_server</code> communicates with VMs, including other Consul servers, on port 8300.</p>

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Transport Layer Protocol</th>
  <th>App Layer Protocol</th>
  <th>Security and Authentication</th>
</tr>

<tr>
  <td>Service or partner tile VMs</td>
  <td>consul_server</td>
  <td>8300</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS from the same CA</td>
</tr>
</table>

<%= partial "bosh-dns" %>
