---
title: CredHub Network Communications
owner: CredHub
---

This topic describes CredHub internal network communication paths with other <%= vars.product_runtime %> (<%= vars.product_short %>) components.

For more information about CredHub, see [CredHub](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/credhub/index.html).


## <a id="inbound"></a> Inbound Communications

The following table lists network communication paths that are inbound to CredHub:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| cloud_controller (API) | credhub | 8844 | TCP | HTTPS | OAuth 2.0 |
| diego_cell | credhub | 8844 | TCP | HTTPS | Mutual TLS† |
| windows_cell | credhub | 8844 | TCP | HTTPS | Mutual TLS† |
| windows2016_cell | credhub | 8844 | TCP | HTTPS | Mutual TLS† |

†Diego Cells use the certificate pairs generated for individual containers to authenticate with CredHub on behalf of apps.


## <a id="outbound"></a> Outbound Communications

The following table lists network communication paths that are outbound from CredHub:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| credhub | uaa | 8443 | TCP | HTTPS | N/A |
| credhub | mysql_proxy* | 3306 | TCP | MySQL | MySQL authentication** |

*Applies only to deployments where internal MySQL is selected as the database.

**MySQL authentication uses the MySQL native password method.

†Diego Cells use the certificate pairs generated for individual containers to authenticate with CredHub on behalf of apps.

<%= partial "bosh-dns" %>
