---
title: Diego Network Communications
owner: Diego
---

This topic describes [Diego](../../concepts/diego/diego-architecture.html) internal network communication paths with other Pivotal Application Service (PAS) components.

## <a id="inbound"></a> Inbound Communications

The following table lists network communication paths that are inbound to Diego.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Transport Layer Protocol</th>
  <th>App Layer Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
  <td>cloud_controller</td>
  <td>diego_database (BBS)</td>
  <td>8889</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>cloud_controller (Routing API)</td>
  <td>diego_database (Locket)</td>
  <td>8891</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
</table>

## <a id="internal"></a> Diego Internal Communications

The following table lists network communication paths that are internal for Diego.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Transport Layer Protocol</th>
  <th>App Layer Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
  <td>diego_brain (Auctioneer)</td>
  <td>diego_cell (Rep)</td>
  <td>1801</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>diego_brain (Auctioneer)</td>
  <td>diego_database (BBS)</td>
  <td>8889</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>diego_brain (Auctioneer)</td>
  <td>diego_database (Locket)</td>
  <td>8891</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>diego_brain (SSH Proxy)</td>
  <td>diego_database (BBS)</td>
  <td>8889</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>diego_brain (SSH Proxy)</td>
  <td>diego_cell (App instances)</td>
  <td>Varies<sup>&#8225;</sup></td>
  <td>TCP</td>
  <td>SSH</td>
  <td>SSH</td>
</tr>
<tr>
  <td>diego_brain (TPS Watcher)</td>
  <td>diego_database (Locket)</td>
  <td>8891</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>diego_cell (local Route Emitter)</td>
  <td>diego_database (BBS)</td>
  <td>8889</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>diego_cell (Rep)</td>
  <td>diego_brain (CC Uploader)</td>
  <td>9091</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>diego_cell (Rep)</td>
  <td>diego_brain (File Server)<sup>&#8258;</sup></td>
  <td>8080</td>
  <td>TCP</td>
  <td>HTTP</td>
  <td>None</td>
</tr>
<tr>
  <td>diego_cell (Rep) in Isolation Segment, different subnet</td>
  <td>diego_brain (File Server)</td>
  <td>8447</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>diego_cell (Rep)</td>
  <td>diego_database (BBS)</td>
  <td>8889</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>diego_cell (Rep)</td>
  <td>diego_database (Locket)</td>
  <td>8891</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>diego_database (BBS)</td>
  <td>diego_brain (Auctioneer)</td>
  <td>9016</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>diego_database (BBS)</td>
  <td>diego_cell (Rep)</td>
  <td>1801</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>diego_database (BBS)</td>
  <td>diego_database (Locket)</td>
  <td>8891</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
</table>

<sup>&#8225;</sup>These are the host-side ports that map to port 2222 in app instance containers and are typically within the range 61001 to 65534.

<sup>&#8258;</sup>The Diego File Server is responsible for distributing non-sensitive, static platform assets to internal platform components.

## <a id="outbound"></a> Outbound Communications ##

The following table lists network communication paths that are outbound from Diego.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Transport Layer Protocol</th>
  <th>App Layer Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
  <td>diego_brain</td>
  <td>cloud_controller</td>
  <td>9023</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>diego_brain (SSH Proxy)</td>
  <td>cloud_controller</td>
  <td>9024</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>OAuth 2.0</td>
</tr>
<tr>
  <td>diego_brain (SSH Proxy)</td>
  <td>uaa</td>
  <td>443</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>TLS and OAuth 2.0</td>
</tr>
<tr>
  <td>diego_cell (local Route Emitter)</td>
  <td>nats</td>
  <td>4222</td>
  <td>TCP</td>
  <td>NATS</td>
  <td>Basic authentication</td>
</tr>
<tr>
  <td>diego_cell (Rep)</td>
  <td>cloud_controller</td>
  <td>9023</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>diego_cell (Rep)</td>
  <td>nfs_server or other blobstore<sup>&#42;</sup></td>
  <td>Varies</td>
  <td>TCP</td>
  <td>HTTP</td>
  <td>Signed URLs/TLS</td>
</tr>
<tr>
  <td>diego_database (BBS)</td>
  <td>cloud_controller</td>
  <td>9023</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>diego_database (BBS)</td>
  <td>mysql_proxy<sup>&#8224;</sup></td>
  <td>3306</td>
  <td>TCP</td>
  <td>MySQL</td>
  <td>MySQL authentication<sup>&#42;&#42;</sup></td>
</tr>
<tr>
  <td>diego_database (Locket)</td>
  <td>mysql_proxy<sup>&#8224;</sup></td>
  <td>3306</td>
  <td>TCP</td>
  <td>MySQL</td>
  <td>MySQL authentication<sup>&#42;&#42;</sup></td>
</tr>
</table>

<sup>&#42;</sup>The destination depends on your PAS blobstore configuration. If you use the internal blobstore, the Diego Cell communicates to the blobstore using TLS on port `4443`. 

<sup>&#42;&#42;</sup>MySQL authentication uses the MySQL native password method.

<sup>&#8224;</sup>Applies only to deployments where internal MySQL is selected as the database.

<%= partial "bosh-dns" %>
