---
title: JMX Bridge Network Communications
owner: Metrics
---

This topic describes JMX Bridge internal network communication paths with other Pivotal Application Service (PAS) components.

## <a id="loggregator"></a> JMX Bridge Communications

The following table lists network communication paths for JMX Bridge.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Transport Layer Protocol</th>
  <th>App Layer Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
  <td> </td>
  <td></td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
</tr>
</table>



