---
title: JMX Bridge Network Communications
owner: Metrics
---

This topic describes JMX Bridge internal network communication paths with other Pivotal Application Service (PAS) components.

## <a id="loggregator"></a> JMX Bridge Communications

The following table lists network communication paths for JMX Bridge.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Transport Layer Protocol</th>
  <th>App Layer Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
  <td>Traffic Controller</td>
  <td>JMX Firehose Nozzle</td>
  <td>443/4443</td>
  <td>TCP</td>
  <td>Websocket</td>
  <td>UAA Token</td>
</tr>
<tr>
  <td>JMX Firehose Nozzle</td>
  <td>JMX Provider</td>
  <td>13322</td>
  <td>TCP</td>
  <td>gRPC</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>JMX Provider</td>
  <td>User/Client</td>
  <td>44445</td>
  <td>TCP</td>
  <td>RMI</td>
  <td>Username/Password (optional SSL)</td>
</tr>
<tr>
  <td>JMX Provider</td>
  <td>User/Client</td>
  <td>44444</td>
  <td>TCP</td>
  <td>RMI Registry</td>
  <td>Username/Password (optional SSL)</td>
</tr>
</table>



