---
title: Loggregator Network Communications
owner: Loggregator
---

This topic describes [Loggregator](https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/loggregator/architecture.html) internal network communication paths with other Pivotal Application Service (PAS) components.

## <a id="loggregator"></a> Loggregator Communications

The following table lists network communication paths for Loggregator.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Transport Layer Protocol</th>
  <th>App Layer Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
  <td>Any&#42;</td>
  <td>loggregator_trafficcontroller</td>
  <td>8081</td>
  <td>TCP</td>
  <td>HTTP/WebSocket</td>
  <td>OAuth</td>
</tr>
<tr>
  <td>Any VM running Metron</td>
  <td>doppler</td>
  <td>8082</td>
  <td>TCP</td>
  <td>gRPC over HTTP/2</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>loggregator_trafficcontroller</td>
  <td>doppler</td>
  <td>8082</td>
  <td>TCP</td>
  <td>gRPC over HTTP/2</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>loggregator_trafficcontroller</td>
  <td>uaa</td>
  <td>8443</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>TLS</td>
</tr>
<tr>
  <td>loggregator_trafficcontroller</td>
  <td>cloud_controller</td>
  <td>9023</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>loggregator_trafficcontroller (Reverse Log Proxy)</td>
  <td>doppler</td>
  <td>8082</td>
  <td>TCP</td>
  <td>gRPC over HTTP/2</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>Any&#42;</td>
  <td>loggregator_trafficcontroller (cf auth proxy)</td>
  <td>8083</td>
  <td>TCP</td>
  <td>HTTP</td>
  <td>OAuth</td>
</tr>
<tr>
  <td>loggregator_trafficcontroller (Route Registrar)</td>
  <td>nats</td>
  <td>4222</td>
  <td>TCP</td>
  <td>NATS</td>
  <td>Basic authentication</td>
</tr>
<tr>
  <td>loggregator_trafficcontroller (metrics_forwarder)</td>
  <td>BOSH Director (metrics_server)</td>
  <td>25595 and 8443</td>
  <td>TCP</td>
  <td>gRPC over HTTP/2</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>loggregator_trafficcontroller</td>
  <td>doppler (Log Cache)</td>
  <td>8080</td>
  <td>TCP</td>
  <td>gRPC over HTTP/2</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>syslog_adapter</td>
  <td>loggregator_trafficcontroller (Reverse Log Proxy)</td>
  <td>8082</td>
  <td>TCP</td>
  <td>gRPC over HTTP/2</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>syslog_adapter</td>
  <td>Any&#42;&#42;</td>
  <td>Any&#42;&#42;&#42;</td>
  <td>TCP</td>
  <td>TCP, TCP w/ TLS, HTTPS</td>
  <td>Basic authentication&#42;&#42;&#42;&#42;</td>
</tr>
<tr>
  <td>syslog_scheduler</td>
  <td>syslog_adapter</td>
  <td>4443</td>
  <td>TCP</td>
  <td>gRPC over HTTP/2</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>syslog_scheduler</td>
  <td>cloud_controller</td>
  <td>9023</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>loggregator_trafficcontroller (Reverse Log Proxy Gateway)</td>
  <td>cloud_controller</td>
  <td>9023</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>Any&#42;</td>
  <td>loggregator_trafficcontroller (Reverse Log Proxy Gateway)</td>
  <td>8088</td>
  <td>TCP</td>
  <td>HTTP/Server Sent Events</td>
  <td>OAuth</td>
</tr>
</table>

<div><sup>&#42;</sup>Any source VM can send requests to the specified destination within its subnet.</div>
<div><sup>&#42;&#42;</sup>Any host configured through a user-provided service binding with a syslog URL.</div>
<div><sup>&#42;&#42;&#42;</sup>Any port configured through a user-provided service binding with syslog URL.</div>
<div><sup>&#42;&#42;&#42;&#42;</sup>Basic authentication only supported for HTTPS syslog drains.</div>

## <a id="log-cache"></a> Log Cache Communications

The following table lists network communication paths for Log Cache.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Transport Layer Protocol</th>
  <th>App Layer Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
  <td>loggregator_trafficcontroller (Reverse Log Proxy)</td>
  <td>log-cache (Nozzle)</td>
  <td>8082</td>
  <td>TCP</td>
  <td>gRPC over HTTP/2</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>Any&#42;</td>
  <td>log-cache</td>
  <td>8080</td>
  <td>TCP</td>
  <td>gRPC over HTTP/2</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>gorouter</td>
  <td>log-cache (Auth Proxy)</td>
  <td>8083</td>
  <td>TCP</td>
  <td>HTTP</td>
  <td>Oauth</td>
</tr>
<tr>
  <td>log-cache (Auth Proxy)</td>
  <td>uaa</td>
  <td>8443</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>TLS</td>
</tr>
<tr>
  <td>log-cache (Auth Proxy)</td>
  <td>cloud_controller</td>
  <td>9024</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>TLS</td>
</tr>
</table>

<sup>&#42;</sup>Any source VM can send requests to the specified destination within its subnet.

<%= partial "bosh-dns" %>
