---
title: Loggregator Network Communications
owner: Loggregator
---

This topic describes [Loggregator](../../loggregator/architecture.html) internal network communication paths with other Pivotal Application Service (PAS) components.

## <a id="loggregator"></a> Loggregator Communications

The following table lists network communication paths for Loggregator.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Transport Layer Protocol</th>
  <th>App Layer Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
  <td>Any&#42;</td>
  <td>loggregator_trafficcontroller</td>
  <td>8081</td>
  <td>TCP</td>
  <td>HTTP/WebSocket</td>
  <td>OAuth</td>
</tr>
<tr>
  <td>Any VM running Metron</td>
  <td>doppler<sup>&#8224;</sup></td>
  <td>8082</td>
  <td>TCP</td>
  <td>gRPC over HTTP/2</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>loggregator_trafficcontroller</td>
  <td>doppler<sup>&#8224;</sup></td>
  <td>8082</td>
  <td>TCP</td>
  <td>gRPC over HTTP/2</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>loggregator_trafficcontroller</td>
  <td>uaa</td>
  <td>8443</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>TLS</td>
</tr>
<tr>
  <td>loggregator_trafficcontroller</td>
  <td>cloud_controller</td>
  <td>9023</td>
  <td>TCP</td>
  <td>HTTPS</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>loggregator_trafficcontroller (Reverse Log Proxy)</td>
  <td>doppler</td>
  <td>8082</td>
  <td>TCP</td>
  <td>gRPC over HTTP/2</td>
  <td>Mutual TLS</td>
</tr>
<tr>
  <td>Any&#42;</td>
  <td>loggregator_trafficcontroller (cf auth proxy)</td>
  <td>8083</td>
  <td>TCP</td>
  <td>HTTP</td>
  <td>OAuth</td>
</tr>
<tr>
  <td>loggregator_trafficcontroller (Route Registrar)</td>
  <td>nats</td>
  <td>4222</td>
  <td>TCP</td>
  <td>NATS</td>
  <td>Basic authentication</td>
</tr>
<tr>
  <td>loggregator_trafficcontroller (metrics_forwarder)</td>
  <td>BOSH Director (metrics_server)</td>
  <td>25595 and 8443</td>
  <td>TCP</td>
  <td>gRPC over HTTP/2</td>
  <td>Mutual TLS</td>
</tr>
</table>

<sup>&#42;</sup>Any source VM can send requests to the specified destination within its subnet.

<sup>&#8224;</sup>Starting from ERT v1.11, Metron does not use the UDP protocol to communicate with Doppler. 
Starting in PAS v2.0, Doppler no longer uses the UDP protocol or the HTTP/WebSocket protocol.

<%= partial "bosh-dns" %>
