---
title: NATS Network Communications
owner: NATS
---

This topic describes [NATS](../../concepts/architecture/messaging-nats.html) internal network communication paths with other Elastic Runtime components.

## <a id="publish"></a>Publish Communications

The following table lists network communications that are published to NATS.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
  <td>cloud_controller (Route Registrar)</td>
  <td>nats</td>
  <td>4222</td>
  <td>NATS (TCP)</td>
  <td>Basic authentication</td>
</tr>
<tr>
  <td>loggregator_trafficcontroller (Route Registrar)</td>
  <td>nats</td>
  <td>4222</td>
  <td>NATS (TCP)</td>
  <td>Basic authentication</td>
</tr>
<tr>
  <td>nfs_server (Route Registrar)<sup>&#42;</sup></td>
  <td>nats</td>
  <td>4222</td>
  <td>NATS (TCP)</td>
  <td>Basic authentication</td>
</tr>
<tr>
  <td>uaa (Route Registrar)</td>
  <td>nats</td>
  <td>4222</td>
  <td>NATS (TCP)</td>
  <td>Basic authentication</td>
</tr>
<tr>
  <td>diego_brain (global Route Emitter)</td>
  <td>nats</td>
  <td>4222</td>
  <td>NATS (TCP)</td>
  <td>Basic authentication</td>
</tr>
<tr>
  <td>diego_cell (local Route Emitter)</td>
  <td>nats</td>
  <td>4222</td>
  <td>NATS (TCP)</td>
  <td>Basic authentication</td>
</tr>
</table>

<sup>&#42;</sup>Applies only to deployments where the internal NFS server is selected for file storage.

## <a id="subscribe"></a>Subscribe Communications

The following table lists network communications that are subscribed to NATS.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
  <td>nats</td>
  <td>router</td>
  <td>4222</td>
  <td>NATS (TCP)</td>
  <td>Basic authentication</td>
</tr>
</table>

## <a id="consul"></a>Consul Communications

ERT components call out to Consul for service discovery. For more information, see [Consul Network Communications](./consul-network-paths.html).

