---
title: NATS Network Communications
owner: NATS
---

This topic describes NATS internal network communication paths with other <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) components.

For more information about NATS, see [Messaging (NATS)](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/architecture/messaging-nats.html).


## <a id="publish"></a> Publish Communications

The following table lists network communications that are published to NATS:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| cloud_controller (Route Registrar) | nats | 4222 | TCP | NATS | Basic authentication |
| loggregator_trafficcontroller (Route Registrar) | nats | 4222 | TCP | NATS | Basic authentication |
| mysql_proxy (Route Registrar)<sup>&#42;</sup> | nats | 4222 | TCP | NATS | Basic authentication |
| nfs_server (Route Registrar)<sup>&#8224;</sup> | nats | 4222 | TCP | NATS | Basic authentication |
| uaa (Route Registrar) | nats | 4222 | TCP | NATS | Basic authentication |
| diego_cell (local Route Emitter) | nats | 4222 | TCP | NATS | Basic authentication |

<sup>&#42;</sup>Applies only to deployments where internal MySQL is selected as the database.

<sup>&#8224;</sup>Applies only to deployments where the internal NFS server is selected for file storage.


## <a id="subscribe"></a> Subscribe Communications

The following table lists network communications that are subscribed to NATS:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| router | nats | 4222 | TCP | NATS | Basic authentication |

<%= partial "bosh-dns" %>
