---
title: Ops Manager and BOSH Director Network Communications
owner: Ops Manager
---

This topic describes Ops Manager internal network communication paths with other Pivotal Application Service (PAS) components.

## <a id="loggregator"></a> Ops Manager Communications

The following table lists network communication paths for Ops Manager.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Transport Layer Protocol</th>
  <th>App Layer Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
  <td> </td>
  <td></td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
</tr>
</table>


## <a id="bosh-dns"></a>BOSH Director Communications

The following table lists network communication paths for Loggregator.

<table class="nice">
<tr>
  <th>Source VM</th>
  <th>Destination VM</th>
  <th>Port</th>
  <th>Transport Layer Protocol</th>
  <th>App Layer Protocol</th>
  <th>Security and Authentication</th>
</tr>
<tr>
  <td> </td>
  <td></td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
</tr>
</table>
