---
title: Routing Network Communications
owner: CF for VMs Networking
---

This topic describes the internal network communication paths of the routing subsystem with other <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) components.


## <a id="http"></a> HTTP Routing

The following table lists network communication paths for HTTP routing:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| diego_cell (local Route Emitter) | nats | 4222 | TCP | NATS | Basic authentication |
| Load balancer | router (Gorouter) | 80 | TCP | HTTP | None |
| Load balancer | router (Gorouter) | 443 | TCP | HTTPS | TLS |
| router (Gorouter) | nats | 4222 | TCP | NATS | Basic authentication |
| router (Gorouter) | System components | Varies | TCP | Varies | None |
| router (Gorouter) | App containers | Varies | TCP | Varies | Optional TLS |
| haproxy | router (Gorouter) | 80 | TCP | HTTP | None |
| haproxy | router (Gorouter) | 443 | TCP | HTTPS | TLS |
| Load balancer | haproxy | 80 | TCP | HTTP | None |
| Load balancer | haproxy | 443 | TCP | HTTPS | TLS |


## <a id="tcp"></a> TCP Routing (Optional)

The following table lists network communication paths for TCP routing:

| Source VM | Destination VM | Port | Transport Layer Protocol | App Layer Protocol | Security and Authentication |
| --------- | -------------- | ---- | ------------------------ | ------------------ | ---------------------------- |
| cloud_controller | cloud_controller (Routing API)<sup>&#42;</sup> | 443 | TCP | HTTPS | TLS and OAuth 2.0 |
| cloud_controller (Routing API) | diego_database (Locket) | 8891 | TCP | HTTPS | Mutual TLS |
| cloud_controller (Routing API) | mysql_proxy | 3306 | TCP | MySQL | MySQL authentication<sup>&#42;&#42;</sup> |
| cloud_controller (Routing API) | uaa | 8443 | TCP | HTTPS | TLS |
| diego_brain (global TCP Emitter) | cloud_controller (Routing API) | 3000 | TCP | HTTP | OAuth 2.0 |
| diego_brain (global TCP Emitter) | uaa | 8443 | TCP | HTTPS | TLS |
| diego_cell (local Route Emitter) | cloud_controller (Routing API) | 3000 | TCP | HTTP | OAuth 2.0 |
| diego_cell (local Route Emitter) | uaa | 8443 | TCP | HTTPS | TLS |
| Load balancer | tcp_router | 1024-65535<sup>&#8224;</sup> | TCP | TCP | None |
| router (Gorouter) | cloud_controller (Routing API) | 3000 | TCP | HTTP | OAuth 2.0 |
| router (Gorouter) | uaa | 8443 | TCP | HTTPS | TLS |
| tcp_router | cloud_controller (Routing API) | 3000 | TCP | HTTP | OAuth 2.0 |
| tcp_router | uaa | 8443 | TCP | HTTPS | TLS |

<sup>&#42;</sup> This communication happens through a load balancer and a Gorouter. Requests are received by Routing API on port 3000.

<sup>&#8224;</sup> You can use this port range to configure the port in the <%= vars.app_runtime_abbr %> tile.

<sup>&#42;&#42;</sup> MySQL authentication uses the MySQL native password method.


<sup>*</sup>Applies only to deployments where internal MySQL is selected as the database.

<%= partial "bosh-dns" %>
