---
title:
owner: Security
---

INTRO

Examples of how TLS connections work in PCF

<table class="nice">
<th>PCF version</th>
<th>TLS version</th>
<th>Supported cipher suites</th>
<tr>
	<td align="center"><strong>1.10</strong></td>
	<td align="center">1.2</td>
	<td>
		<ul>
		<li>TLS_DHE_RSA_WITH_AES_128_GCM_SHA256</li>
		<li>TLS_DHE_RSA_WITH_AES_256_GCM_SHA384</li>
		<li>TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256</li>
		<li>TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384</li>
		</ul>
	</td>
</tr>
</table>
