---
title: TLS Connections in PCF Deployments
owner: Security
---

Pivotal Cloud Foundry (PCF) uses Transport Layer Security (TLS) protocols to secure connections between internal components and customer hardware.

Within a PCF deployment, TLS secures connections between components like the Ops Manager Director and service tiles. PCF components also use TLS connections to secure communications with external hardware, such as customer load balancers.

By default, PCF uses a limited set of cipher suites and TLS versions to secure connections.

The TLS versions and cipher suites PCF supports are in the table below.

<table class="nice">
<th>PCF version</th>
<th>TLS version</th>
<th>Supported cipher suites</th>
<tr>
	<td align="center"><strong>1.12</strong></td>
	<td align="center">1.2, 1.1, 1.0</td>
	<td>
		<ul>
		<li>TLS_DHE_RSA_WITH_AES_128_GCM_SHA256</li>
		<li>TLS_DHE_RSA_WITH_AES_256_GCM_SHA384</li>
		<li>TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256</li>
		<li>TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384</li>
		</ul>
	</td>
</tr>
<tr>
	<td align="center"><strong>1.11</strong></td>
	<td align="center">1.2</td>
	<td>
		<ul>
		<li>TLS_DHE_RSA_WITH_AES_128_GCM_SHA256</li>
		<li>TLS_DHE_RSA_WITH_AES_256_GCM_SHA384</li>
		<li>TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256</li>
		<li>TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384</li>
		</ul>
	</td>
</tr>
<tr>
	<td align="center"><strong>1.10</strong></td>
	<td align="center">1.2</td>
	<td>
		<ul>
		<li>TLS_DHE_RSA_WITH_AES_128_GCM_SHA256</li>
		<li>TLS_DHE_RSA_WITH_AES_256_GCM_SHA384</li>
		<li>TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256</li>
		<li>TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384</li>
		</ul>
	</td>
</tr>
</table>
