---
title: TLS Connections in PCF Deployments
owner: Security
---

Pivotal Cloud Foundry (PCF) uses Transport Layer Security (TLS) protocols to secure connections between internal components, app containers, and customer hardware.

Within a PCF deployment, TLS secures connections between components like the Ops Manager Director and service tiles. PCF components also use TLS connections to secure communications with external hardware, such as customer load balancers.

In Elastic Runtime, app instance containers have [identity credentials](#container-creds) that enable TLS communication by app instances.

## <a id="container-creds"></a> App Instance Container Identity Credentials

Each app instance container in PCF has a PEM-encoded [X.509](https://www.ietf.org/rfc/rfc5280.txt) certificate and [PKCS #1 RSA](https://tools.ietf.org/html/rfc3447) private key. App developers can use these credentials to enable secure TLS communications from their apps.

Instance container certificates are issued from the platform root Certificate Authority (CA) and have the following property values:

* **Common Name** is the app instance GUID
* **Organizational Unit** is the app GUID
* **Subject Alternative Name** (SAN) contains the container IP address for the app instance

Each container stores its creds in the following variables:

<table id='instance-certs' border="1" class="nice" >
  <tr>
    <th>Credential / Keypair Element</th>
    <th>Environment Variable</th>
    <th>Command to Retrieve Value</th>
  </tr><tr>
    <td>Certificate</td>
    <td><code>CF_INSTANCE_CERT</code></td>
    <td><code>cf ssh APP-NAME -c 'cat $CF_INSTANCE_CERT'</code></td>
  </tr><tr>
    <td>Private Key</td>
    <td><code>CF_INSTANCE_KEY</code></td>
    <td><code>cf ssh APP-NAME -c 'cat $CF_INSTANCE_KEY'</code></td>
  </tr>
</table>

Each container VM also stores the platform root CA certificate in `/etc/cf-system-certificates`.

To run TLS connections or otherwise use instance container credentials from their apps, developers must first add the certificates to their development stack configuration.

For more information about instance ID creds, see the [Instance Identity](https://github.com/cloudfoundry/diego-release/blob/develop/docs/instance-identity.md) document in the diego-release repository.

## <a id="ciphers"></a> TLS Cipher Suites

By default, PCF uses a limited set of cipher suites to secure its internal communications. However, some components used in PCF, like Gorouter and HAProxy, may support additional TLS cipher suites to accommodate older clients outside of PCF. 

For components that allow you to configure TLS cipher suites, only specify the TLS cipher suites that you need.

### <a id="cipher_recs"></a>TLS Cipher Suite Recommendations

The default and recommended version of TLS to use is TLS v1.2.

The recommended TLS cipher suites to use within PCF are the following:

<ul>
  <li>TLS_DHE_RSA_WITH_AES_128_GCM_SHA256</li>
	<li>TLS_DHE_RSA_WITH_AES_256_GCM_SHA384</li>
	<li>TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256</li>
	<li>TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384</li>
</ul>

###<a id="cipher_gorouter"></a> Gorouter Configuration

As part of your Elastic Runtime networking configuration, you must specify the TLS cipher suites that Gorouter uses to secure its communications. Only specify the cipher suites that you need.

The recommended TLS cipher suites for Gorouter are:

<ul>
  <li>ECDHE-RSA-AES128-GCM-SHA256</li>
  <li>ECDHE-RSA-AES256-GCM-SHA384</li>
</ul>

You can specify other cipher suites and a different minimum verison of TLS support if your deployment requires it. For a list of other cipher suites and other versions of TLS that are optionally supported by Gorouter, see [Securing Traffic into Cloud Foundry](../../adminguide/securing-traffic.html#ciphers).

For instructions on how to configure the TLS cipher suites for Gorouter, see the Elastic Runtime installation documentation for the IaaS of your deployment. For example, if you are deploying Elastic Runtime on GCP, see [Step 6: Configure Networking](../../customizing/gcp-er-config.html#networking). 

###<a id="cipher_haproxy"></a> HAProxy Configuration

As part of your Elastic Runtime networking configuration, you must specify the TLS cipher suites that HAProxy uses to secure its communications. Only specify the cipher suites that you need.

The recommended TLS cipher suites for HAProxy are:

<ul>
  <li>DHE-RSA-AES128-GCM-SHA256</li>
  <li>DHE-RSA-AES256-GCM-SHA384</li>
  <li>ECDHE-RSA-AES128-GCM-SHA256</li>
  <li>ECDHE-RSA-AES256-GCM-SHA384</li>
</ul>

You can specify other cipher suites and a different minimum verison of TLS support if your deployment requires it. For a list of other cipher suites and other versions of TLS that are optionally supported by HAProxy, see [ciphers - Cipher Suite Names](https://www.openssl.org/docs/man1.0.2/apps/ciphers.html#CIPHER-SUITE-NAMES) in the OpenSSL documentation.

For instructions on how to configure the TLS cipher suites for HAProxy, see the Elastic Runtime installation documentation for the IaaS of your deployment. For example, if you are deploying Elastic Runtime on GCP, see [Step 6: Configure Networking](../../customizing/gcp-er-config.html#networking). 
