---
title: Security Concepts
owner: Security
---

This section provides links to conceptual documentation that describes how Pivotal Cloud Foundry (PCF) 
implements security at different levels of the platform.

* <a href="/pivotalcf/concepts/security.html">Understanding Cloud Foundry Security</a>: 
Provides an overview of the measures Cloud Foundry implements to minimize security risks.

* <a href="/pivotalcf/concepts/container-security.html">Understanding Container Security</a>: 
Describes how PCF isolates containers and limits privileges for containers.

* <a href="/pivotalcf/concepts/understand-cf-networking.html">Understanding Container-to-Container Networking</a>: 
Illustrates how the Container-to-Container Networking 
feature enables and secures internal app-to-app communication.

* <a href="/pivotalcf/concepts/asg.html">Understanding Application Security Groups</a>: 
Explains the different types of application security groups, how they work and how to apply them.

* <a href="/pivotalcf/concepts/diego/ssh-conceptual.html">Application SSH Components and Processes</a>: Provides an overview of the components that support SSH access to apps.

* <a href="/pivotalcf/customizing/understanding-stemcells.html">Understanding Floating Stemcells</a>:  Describes how PCF automatically upgrades all compatible products when a new stemcell is available.