---
title: Security Concepts
owner: Security
---

This section provides links to conceptual documentation that describes how <%= vars.first_product_name  %> 
implements security at different levels of the platform.

* <a href="/pivotalcf/concepts/security.html">Cloud Foundry Security</a>: 
Provides an overview of the measures Cloud Foundry implements to minimize security risks.

* <a href="/pivotalcf/concepts/container-security.html">Container Security</a>: 
Describes how <%= vars.product_name %> isolates containers and limits privileges for containers.

* <a href="/pivotalcf/concepts/understand-cf-networking.html">Container-to-Container Networking</a>: 
Illustrates how the Container-to-Container Networking 
feature enables and secures internal app-to-app communication.

* <a href="/pivotalcf/concepts/asg.html">Application Security Groups</a>: 
Explains the different types of application security groups, how they work and how to apply them.

* <a href="/pivotalcf/concepts/diego/ssh-conceptual.html">Application SSH Components and Processes</a>: Provides an overview of the components that support SSH access to apps.

* <a href="/pivotalcf/customizing/understanding-stemcells.html">Floating Stemcells</a>:  Describes how <%= vars.product_name %> automatically upgrades all compatible products when a new stemcell is available.
