---
title: Security Processes and Stemcells
owner: Security
---

This section explains how Pivotal responds to security vulnerabilities, and how it tests and updates its stemcells, the versioned operating systems that its products run on.

* <a href="./pcf-security.html" class="subnav">Pivotal Cloud Foundry Security Overview and Policy</a> - Pivotal's responsible disclosure and vulnerability response procedures for the Pivotal Cloud Foundry (PCF) platform.

* <a href="./security-lifecycle.html" class="subnav">PCF Testing, Release, and Security Lifecycle</a> - How Pivotal's practices, tools, and organizational structures work together to create and support stable releases of PCF.

* <a href="/pivotalcf/customizing/understanding-stemcells.html">Understanding Floating Stemcells</a> - How PCF automatically upgrades all compatible products when a new stemcell is available.

* <a href="/pivotalcf/windows2012r2/windows-security.html">Windows Stemcell Hardening</a> - The settings for Local Group Policy and Local Security Policy that Pivotal incorporates into its Windows stemcells to optimize security.

* <a href="/pivotalcf/security/pcf-infrastructure/stemcell-hardening.html">Linux Stemcell Hardening</a> - How Pivotal secures Linux stemcells through regular testing and minimizing their surface of vulnerability.

