---
title: PCF Security Processes
owner: Security
---

This section introduces some of Pivotal's security-related processes. 

* <a href="./security-lifecycle.html" class="subnav">PCF Test, Release, and Security Lifecycle</a>
This topic explains how Pivotal's practices, tools, and organizational structures work together to create and support st†able releases of Pivotal Cloud Foundry (PCF).
